<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Split Test UI</title>
</head>
<body>

<div class="container mt-3">
  <h1>Split Test</h1>
  <div class="row text-center">
    <input type="text" placeholder="Name" id="name">
    <button type="button" class="btn btn-primary" id="send-button">Send</button>
  </div>
  <div class="row">
    <pre id="results">

    </pre>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script type="application/javascript">
  $(function () {
    $('#send-button').click(function () {
      var name = $('#name').val();
      $.ajax({
        contentType: "application/json; charset=utf-8",
        type: 'GET',
        url: '/fetch',
        data: {'name': name},
        success: pringResults,
        dataType: 'json'
      });
    });

    function pringResults(data) {
      $('#results').html(JSON.stringify(data, null, 2));
    }
  });
</script>
</body>
</html>